# exclude everything except directory foo/bar
/Debug
/.vs
/Debug/*
/.vs/*
.vs/*
.vs
.idea/*
.idea
Folder.*
/bin/Debug/
/bin/Debug/*
/obj/Debug
/obj/Debug/*
/bin/Release/
/bin/Release/*
/obj/Release
/obj/Release/*